ROUTER_HOST=192.168.1.1
ROUTER_PORT=2222
ROUTER_USER=root
ROUTER_KEY=/run/secrets/khnc_ax53u_key
N2830_HOST=192.168.1.106
N2830_PORT=22
N2830_USER=kallos
N2830_KEY=/run/secrets/khnc_n2830_key
PORT=9081
